---
const personalImageAlt = "Ariel Colque";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Ariel Colque pero mis amigos me llaman Ari. Empecé en la
      programación en 2017, tenía 22 años. Actualmente estoy en un<strong
        >equipo de desarrollo en una multinacional</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen demostrar <strong
        >mi pasión por el trabajo a través de acciones concretas y
        resultados, lo que me ha permitido ascender rápidamente, En el pasado
        lideré y ahora también soy un referente con responsabilidad, puntualidad y
        compromiso con el progreso</strong
      >. Aunque me apasiona el desarrollo, considero que la buena organización
      del equipo es fundamental para el éxito.
    </p>

    <p>
      Como ingeniero en sistemas de información, cuento con una sólida formación
      en <strong>arquitectura y diseño de software. </strong>
      Mi experiencia incluye la
      <strong>planificación, diseño e implementación de sistemas </strong>
      con enfoque en
      <strong>rendimiento, seguridad y mantenibilidad. </strong>
      Estoy capacitado para abordar desafíos complejos y entregar soluciones de alta
      calidad que satisfacen las necesidades del cliente y agregan valor a las organizaciones.
      Mi objetivo es crear productos de gran impacto que aporten un <strong
        >valor significativo y
        sostenible a largo plazo.</strong
      >
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
