---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Septiembre 2023 - Actualmente...",
    title: "Ingeniero en Sistemas · Angular Expert · Ionic Mobile Developer",
    company: "Tributo Simple",
    description: "Como desarrollador principal del frontend, participé en la creación y evolución de aplicaciones web y móviles utilizando Angular e Ionic. Fui responsable de construir experiencias fluidas y escalables, trabajando diariamente en el desarrollo de componentes, la integración de APIs y la optimización del rendimiento y la experiencia de usuario. Me encargué del despliegue completo de la app en App Store y Play Store, resolviendo los desafíos técnicos de distribución multiplataforma con Android Studio y Xcode. También colaboré en la migración y configuración de la infraestructura en AWS (EC2, RDS, Amplify, Route 53, Certificate Manager), mejorando la estabilidad del sistema y los tiempos de respuesta. Implementé flujos de integración y despliegue continuo, lo que permitió agilizar el desarrollo y reducir errores en producción. La aplicación superó las 120.000 descargas y se logró una mejora del 30% en la calidad de entrega del software. Las mejoras técnicas implementadas contribuyeron significativamente al crecimiento del negocio. suelo ser la persona a la que el equipo recurre para resolver problemas complejos o tomar decisiones técnicas clave.",
    link: "https://apps.apple.com/ar/app/tributo-simple-monotributo/id1571573160",
  },
  {
    date: "Abril 2021 - Septiembre 2023",
    title: "Ingeniero en Sistemas · React Developer",
    company: "Kemis Software House",
    description: "Participé activamente en el desarrollo de aplicaciones web utilizando Vue y React, contribuyendo directamente a la creación de herramientas clave para el negocio, como una calculadora de simulación de costos para materiales de construcción. Me ocupé del desarrollo frontend, la integración con servicios externos y el diseño de una interfaz ágil y fácil de usar. Además, brindé soporte técnico y mantenimiento para el sistema contable y de facturación, asegurando su correcto funcionamiento y evolución. Implementé herramientas para la gestión de la comunicación y el trabajo en equipo, facilitando la colaboración entre áreas y mejorando la productividad general. Las mejoras técnicas aplicadas tuvieron un impacto directo en el crecimiento del negocio, contribuyendo a un aumento del 20% en las ganancias. Actualmente, la empresa forma parte del programa Endeavor, posicionándose entre las 60 empresas de mayor crecimiento en Brasil. Ha otorgado más de 3.600 millones en créditos para construcción, cuenta con más de 5.000 constructores activos y fue reconocida a nivel nacional por Forbes Under 30.",
      link: "https://www.minhacasafinanciada.com/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
